<div navigation></div>

<div class="page-content">
	
	<section>
		<h2 class="main-title">Our Fleet</h2>
		
		<h3>We operate four fixed wing aircraft, one glider and a helicopter</h3>
		<p>We're passionate about flying and we love our craft. If you would to know more about any of them we're happy to talk about them for hours!</p>
	</section>

	<section class="animation-element bounce-up gallery">

		<h3>Fixed wing aircraft</h3>
		
		<img src="../../assets/img/aircraft1.png" alt="">

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolorum voluptatem vero, esse voluptas officia corporis iure, sint in iusto sed. Debitis sit ea aperiam nemo ad sequi quisquam ipsa.</p>

	</section>

	<section class="animation-element bounce-up gallery">

		<h3>Glider</h3>
		
		<img src="../../assets/img/aircraft3.png" alt="">

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt mollitia consectetur, dolorem aut commodi tenetur, tempora soluta distinctio. Neque, expedita quasi recusandae dolor fugiat, natus quas commodi dicta quod illo.</p>

	</section>

	<section class="animation-element bounce-up gallery">

		<h3>Helicopter</h3>
		
		<img src="../../assets/img/aircraft2.png" alt="">

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, enim quasi eum repudiandae itaque alias culpa molestiae. Sed soluta similique minus officiis? Repudiandae dolore laudantium modi ullam, esse cum perspiciatis.</p>

	</section>

</div>