<div navigation></div>

<div class="page-content">
	
	<section class="animation-element bounce-up">
		<h2 class="main-title">Our Fleet</h2>
		
		<h3>We operate four fixed wing aircraft, one glider and a helicopter</h3>
		<p>We're passionate about flying and we love our craft. If you would to know more about any of them we're happy to talk about them for hours!</p>
	</section>

	<div class="owl-carousel">
		
		<div class="shadow">
			<p class="slide-title">Extra EA-200</p>
			<img src="../../assets/img/finn.png" alt="">
		</div>

		<div>
			<p class="slide-title">Cessna 172 Skyhawk P</p>
			<img src="../../assets/img/wendy.png" alt="">
		</div>

		<div>
			<p class="slide-title">Cessna Turbo Stationair</p>
			<img src="../../assets/img/john.png" alt="">
		</div>

		<div>
			<p class="slide-title">DG Flugzeug</p>
			<img src="../../assets/img/hans.png" alt="">
		</div>

	</div>

</div>