<div navigation></div>

<div class="page-content">
	
	<ul rn-carousel rn-carousel-auto-slide class="carousel">
		<li><img src="../../assets/img/charter1.png" alt=""></li>
		<li><img src="../../assets/img/charter2.png" alt=""></li>
		<li><img src="../../assets/img/charter3.png" alt=""></li>
		<li><img src="../../assets/img/charter4.png" alt=""></li>
		<li><img src="../../assets/img/charter5.png" alt=""></li>
	</ul>

	<section class="animation-element bounce-up">
		<h3>Charter Flights</h3>

		<p>We have the crew, the aircraft, the skills and the specialised, local knowledge to plan and then make your dream remote lake visit, high country or mountain tramping or hiking adventure happen. We provide a full provisioning service for overnight or multi-day expeditions.</p>

		<ul>
			<li><strong>Remote Lakes Day Tripper <br> fully catered day trips, fly in, fly out</strong></li>
			<li><strong>Remote Lakes Trampers <br> fully catered multi day fly in, fly out</strong></li>
			<li><strong>High Country Trampers <br> fully catered multi day, fly in, fly out</strong></li>
			<li><strong>Mount Cook / Aoraki Climbers <br> single day fully catered, fly in fly out</strong></li>
			<li><strong>Mount Cook / Aoraki Climbers <br> multi day fully catered, fly in fly out</strong></li>
		</ul>
		
		<p><em>All pricing by arrangement</em></p>

		<a class="link" href="#/contact">Book Now</a>
		<a class="link" href="#/flights">Back to Flights</a>
	</section>


</div>