<div navigation></div>

<div class="page-content">
	
	<img src="../../assets/img/charterflight.png" alt="">

	<section class="animation-element bounce-up">
		<h3>Charter Flights</h3>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam rerum aut, minima fugiat non repellendus, nobis. Dolorem voluptates magni illo, fugit pariatur id! Accusantium placeat libero labore velit odit deserunt!</p>

		<a class="link" href="#/contact">Book Now</a>
		<a class="link" href="#/flights">Back to Flights</a>
	</section>


</div>