<div navigation></div>

<div class="page-content">

	<section class="animation-element bounce-up">
		<h2 class="main-title">Contact Us</h2>
	</section>

	<section class="animation-element bounce-up">
		<h3>Give us a bell</h3>
		<div>
			<i class="fa fa-phone"></i>
			<p>+64 9 443 112</p>
		</div>
	</section>

	<section class="animation-element bounce-up">
		<h3>You've got mail</h3>
		<div>
			<i class="fa fa-envelope"></i>
			<a href="">info@flytothelimit.co.nz</a>
		</div>
	</section>

	<section class="animation-element bounce-up">
		<h3>Our location</h3>
		<address>
			<i class="fa fa-map-marker"></i>
			<div class="map-links">
				<a href="">75 Gorge Road, Queenstown</a>
				<a href="">16 lloyd Dunn Ave, Wanaka</a>
			</div>
		</address>
	</section>

</div>