<div navigation></div>

<div class="page-content">

	<section class="animation-element bounce-up">

		<h2 class="main-title">Meet Our Crew</h2>

	</section>

	<section class="animation-element bounce-up">

		<h3>Finn McCool</h3>
		
		<img src="../../assets/img/finn.png" alt="">

	</section>

	<section class="animation-element bounce-up">
		
		<h3>Wendy</h3>

		<img src="../../assets/img/wendy.png" alt="">

	</section>

	<section class="animation-element bounce-up">
		
		<h3>John</h3>

		<img src="../../assets/img/john.png" alt="">

	</section>

	<section class="animation-element bounce-up">
		
		<h3>Hans</h3>

		<img src="../../assets/img/hans.png" alt="">

	</section>

	<!-- <div class="owl-carousel">
		
		<div class="shadow">
			<p class="slide-title">Finn McCool</p>
			
		</div>

		<div>
			<p class="slide-title">Wendy</p>
			
		</div>

		<div>
			<p class="slide-title">John</p>
			
		</div>

		<div>
			<p class="slide-title">Hans</p>
			
		</div>

	</div> -->

	<section class="animation-element bounce-up">

		<h3>Founders</h3>
		<p>Olga and Bruce McKenzie are the proud and passionate owners of Fly to the Limit.
		Both are born and bred Southland locals. They are also commercial pilots with 28 years of experience flying for Middle Eastern airlines. They have flown and travelled the world! Olga and Bruce have gathered together a team of outstanding pilots who are also trained in sustainable tourism and share a love for the Queenstown and Wanaka mountains and environment.</p>
		
	</section>

</div>