<div navigation></div>

<div class="page-content">

	<section>

		<h2 class="main-title">Meet Our Crew</h2>

		<p>Fly to the Limit was founded by Olga and Bruce McKenzie.
		Both are born and bred Southland locals. They are also commercial pilots with 28 years of experience flying for Middle Eastern airlines. They have flown and travelled the world! Olga and Bruce have gathered together a team of outstanding pilots who are also trained in sustainable tourism and share a love for the Queenstown and Wanaka mountains and environment.</p>

	</section>

	<section class="animation-element bounce-up gallery">

		<h3>Maverick</h3>
		
		<img src="../../assets/img/kek.png" alt="">

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt mollitia consectetur, dolorem aut commodi tenetur, tempora soluta distinctio. Neque, expedita quasi recusandae dolor fugiat, natus quas commodi dicta quod illo.</p>

	</section>

	<section class="animation-element bounce-up gallery">
		
		<h3>Charlie</h3>

		<img src="../../assets/img/kek2.png" alt="">

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consectetur sit blanditiis, explicabo, expedita magnam a aliquam neque perferendis, deleniti commodi sequi! Quis alias ipsum dolorum expedita, hic consequuntur molestias.</p>

	</section>

	<section class="animation-element bounce-up gallery">
		
		<h3>Iceman</h3>

		<img src="../../assets/img/kek3.png" alt="">

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, fugiat dolore blanditiis quaerat quos sequi earum esse unde quisquam inventore atque minus repellat numquam! Exercitationem consequuntur eveniet praesentium fugit dolore.</p>

	</section>

	<section class="animation-element bounce-up gallery">
		
		<h3>Goose</h3>

		<img src="../../assets/img/kek4.png" alt="">

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, est soluta aliquam maxime odit facilis enim, aut ut autem. Quasi eligendi doloribus nulla illum. Nostrum error repellendus maiores vel mollitia.</p>

	</section>

</div>