<div navigation></div>

<div class="page-content">

	<section>
		<h2 class="main-title">Choose your experience!</h2>
	</section>

	<section class="animation-element bounce-up">
		<h3>Scenic Flights</h3>
	</section>

	<section class="animation-element bounce-up">
		<h3>Stunt Flights</h3>
	</section>

	<section class="animation-element bounce-up">
		<h3>Aerial Photography</h3>
	</section>

	<section class="animation-element bounce-up">
		<h3>Charter Flights</h3>
	</section>
	
</div>