<div navigation></div>

<div class="page-content">


	<h2 class="main-title">Choose your experience!</h2>
	

	<div class="masonry">

		<a class="item animation-element bounce-up" href="#/scenicf">
			<h3>Scenic Flights</h3>
			<img src="../../assets/img/scenicflight.png" alt="">
		</a>

		<a class="item animation-element bounce-up" href="#/stuntf">
			<h3>Stunt Flights</h3>
			<img src="../../assets/img/stuntflight.png" alt="">
		</a>

		<a class="item animation-element bounce-up" href="#/photogf">
			<h3>Aerial Photography</h3>
			<img src="../../assets/img/photographyflight.png" alt="">
		</a>

		<a class="item animation-element bounce-up" href="#/charterf">
			<h3>Charter Flights</h3>
			<img src="../../assets/img/charterflight.png" alt="">
		</a>

	</div>
	
</div>