<div class="page-content">

	<nav>
		<label for="drop">Menu</label>
		<input type="checkbox" class="drop" ng-model="checked" aria-label="drop ng-hide">
		<ul class="menu animate-show" ng-show="checked">
			<li><a class ="link" href="#/hangar">Hangar</a></li>
			<li><a class ="link" href="#/crew">Crew</a></li>
			<li>
				<label for="drop-2">Flights</label>
				<input type="checkbox" class="drop" ng-model="checked2" aria-label="drop-2 ng-hide">
				<ul class="menu animate-show" ng-show="checked2">
					<li><a class ="link" href="#/scenicf">Scenic Flights</a></li>
					<li><a class ="link" href="#/stuntf">Stunt Flights</a></li>
					<li><a class ="link" href="#/photogf">Photography</a></li>
					<li><a class ="link" href="#/charterf">Charter Flights</a></li>
				</ul>
			</li>
			<li><a class ="link" href="#/aircraft">Aircraft</a></li>
			<li><a class ="link" href="#/safety">Safety</a></li>
			<li><a class ="link" href="#">Bookings</a></li>
		</ul>
	</nav>
	
	<h2 class="main-title">Adventure Awaits!</h2>

	<h3>For a once-in-a-lifetime flight experience, we are your perfect choice</h3>
	<p>Choose from high adrenaline aerobatics, breathtaking scenic flights or helicopter drop off tramping and climbing expeditions in Queenstown and Wanaka, two of the most beautiful and remote regions in New Zealand and the world. Our most popular experiences are provided as a complete package and custom flights and experiences are our speciality.</p>
	<p>Fly through our website to get a feel for what we do and then tell us what your dream is and we will do our absolute best to make it a reality. Custom flights and experiences are our speciality.</p>

	<h2 class="main-title">Experiences We Offer</h2>
	
	<a href="#scenicf" class="link">Scenic Flights</a>
	<a href="#stuntf" class="link">Stunt Flights</a>
	<a href="#photogf" class="link">Aerial Photography</a>
	<a href="#charterf" class="link">Charter Flights</a>

</div>
