<div navigation ng-cloak></div>

<div class="page-content">
	
	<section class="animation-element bounce-up">

		<h2 class="main-title">Adventure Awaits!</h2>

		<h3>For a once-in-a-lifetime flight experience, we are your perfect choice</h3>
		<p>Choose from high adrenaline aerobatics, breathtaking scenic flights or helicopter drop off tramping and climbing expeditions in Queenstown and Wanaka, two of the most beautiful and remote regions in New Zealand and the world. Our most popular experiences are provided as a complete package and custom flights and experiences are our speciality.</p>
		<p>Fly through our website to get a feel for what we do and then tell us what your dream is and we will do our absolute best to make it a reality.</p>

	</section>

	<section class="animation-element bounce-up">

		<h2 class="main-title">Experiences We Offer</h2>
		
		<a href="#scenicf" class="link">Scenic Flights</a>
		<a href="#stuntf" class="link">Stunt Flights</a>
		<a href="#photogf" class="link">Aerial Photography</a>
		<a href="#charterf" class="link">Charter Flights</a>

	</section>

</div>
