<div navigation></div>

<div class="page-content">
	
	<img src="../../assets/img/photographyflight.png" alt="">

	<section class="animation-element bounce-up">
		<h3>Aerial Photography</h3>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit reiciendis deserunt magnam fugit, corporis quo eum distinctio, molestiae cumque accusantium nostrum autem voluptates facere maxime, accusamus amet inventore! Molestiae, voluptatum?</p>

		<a class="link" href="#/contact">Book Now</a>
		<a class="link" href="#/flights">Back to Flights</a>
	</section>

</div>