<div navigation></div>

<div class="page-content">
	
	<ul rn-carousel rn-carousel-auto-slide class="carousel">
		<li><img src="../../assets/img/photo1.png" alt=""></li>
		<li><img src="../../assets/img/photo2.png" alt=""></li>
		<li><img src="../../assets/img/photo3.png" alt=""></li>
		<li><img src="../../assets/img/photo4.png" alt=""></li>
		<li><img src="../../assets/img/photo5.png" alt=""></li>
	</ul>

	<section class="animation-element bounce-up">
		<h3>Aerial Photography</h3>

		<p>Whether you’re an amateur or professional, we can help you get the shots you want.</p>

		<ul>
			<li><strong>Queenstown and Wanaka <br> 1 hour photographic highlights</strong></li>
			<li><strong>Queenstown and Wanaka <br> 2 hour photographic highlights</strong></li>
			<li><strong>Queenstown, Wanaka and Mount Cook / Aoraki premium</strong></li>
			<li><strong>Queenstown, Wanaka and Mount Cook / Aoraki sunset exceptional</strong></li>
			<li><strong>Custom aerial photography flights by the hour, day or week <br> – contact us to discuss your requirements</strong></li>
		</ul>

		<p><em>Note that aircraft doors can be removed by arrangement for professional assignments – extra cost incurred.</em></p>
		<p><em>Fixed wing $350 per hour per passenger</em></p>
		<p><em>Helicopter $350 per hour per passenger</em></p>

		<a class="link" href="#/contact">Book Now</a>
		<a class="link" href="#/flights">Back to Flights</a>
	</section>

</div>