<div navigation></div>

<div class="page-content">

	
	<h2 class="main-title">Your Safety</h2>
	
	<h3>We take safety seriously.</h3>
	<p>We hold the Civil Aviation Authority Adventure Aviation Operator Certificate and are members of the Aviation Industry Association (AIA) of New Zealand. We are guided by the AIA AIRCARE safety strategy. Every plane is owner operated and has the highest level of safety and maintenance. Independent audits of our processes and policies are undertaken on a regular basis. Full safety briefings and equipment are provided to every client. </p>
	<p>As we said, we take safety very, very seriously. Our record is impeccable and we intend to keep it that way.</p>

	<h3>Find out more at:</h3>
	<a class="safety-link" href="#"><img src="../../assets/img/caa.png" alt=""></a>
	<a class="safety-link" href="#"><img src="../../assets/img/aialogo.png" alt=""></a>
	<a class="safety-link" href="#"><img src="../../assets/img/aircarelogo.png" alt=""></a>

</div>