<div navigation></div>

<div class="page-content">
	
	<ul rn-carousel rn-carousel-auto-slide class="carousel">
		<li><img src="../../assets/img/scenic2.png" alt=""></li>
		<li><img src="../../assets/img/scenic3.png" alt=""></li>
		<li><img src="../../assets/img/scenic4.png" alt=""></li>
		<li><img src="../../assets/img/scenic5.png" alt=""></li>
	</ul>
	<!-- <img src="../../assets/img/scenicflight.png" alt=""> -->

	<section class="animation-element bounce-up">
		<h3>Scenic Flights</h3>

		<p>Enjoy the best of our breathtaking regions from the air.</p>

		<ul>
			<li><strong>Queenstown and Wanaka <br> 1 hour photographic highlights</strong></li>
			<li><strong>Queenstown and Wanaka <br> 2 hour photographic highlights</strong></li>
			<li><strong>Queenstown, Wanaka and Mount Cook / Aoraki premium</strong></li>
			<li><strong>Queenstown, Wanaka and Mount Cook / Aoraki sunset exceptional</strong></li>
			<li><strong>Custom aerial photography flights by the hour, day or week <br> – contact us to discuss your requirements</strong></li>
		</ul>

		<p><em>Fixed wing $350 per hour per passenger</em></p>
		<p><em>Helicopter $350 per hour per passenger</em></p>

		<p>Glider flights also available! Just for a moment, imagine the serenity of gliding above some of the most spectacular landscape in the world. We can make that happen.</p>

		<ul>
			<li><strong>Queenstown and Wanaka 3 hour</strong></li>
			<li><strong>Queenstown and Wanaka 4 hour</strong></li>
			<li><strong>Mount Cook / Aoraki 4 hour</strong></li>
			<li><strong>Custom by arrangement</strong></li>
		</ul>

		<p><em>Glider $1,200 per hour, one person per flight</em></p>

		<a class="link" href="#/contact">Book Now</a>
		<a class="link" href="#/flights">Back to Flights</a>
	</section>

</div>