<div navigation></div>

<div class="page-content">
	
	<ul rn-carousel rn-carousel-auto-slide class="carousel">
		<li><img src="../../assets/img/charterflight.png" alt=""></li>
		<li><img src="../../assets/img/photographyflight.png" alt=""></li>
	</ul>
	<!-- <img src="../../assets/img/scenicflight.png" alt=""> -->

	<section class="animation-element bounce-up">
		<h3>Scenic Flights</h3>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos reiciendis quas nulla voluptate ab quaerat officia excepturi, vel magnam repudiandae repellat ea dolor, ratione suscipit maiores qui quasi earum! Perspiciatis.</p>

		<a class="link" href="#/contact">Book Now</a>
		<a class="link" href="#/flights">Back to Flights</a>
	</section>

</div>