<div navigation></div>

<div class="page-content">
	
	<img src="../../assets/img/stuntflight.png" alt="">

	<section class="animation-element bounce-up">
		<h3>Stunt Flights</h3>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore maiores rem odio ipsa ipsam quod eum accusantium tempore voluptatibus officia aliquam magni nostrum nesciunt, dolorum sit eaque repellat voluptatum est.</p>

		<a class="link" href="#/contact">Book Now</a>
		<a class="link" href="#/flights">Back to Flights</a>
	</section>

</div>