<div navigation></div>

<div class="page-content">
	
	<ul rn-carousel rn-carousel-auto-slide class="carousel">
		<li><img src="../../assets/img/stunt1.png" alt=""></li>
		<li><img src="../../assets/img/stunt2.png" alt=""></li>
		<li><img src="../../assets/img/stunt3.png" alt=""></li>
		<li><img src="../../assets/img/stunt4.png" alt=""></li>
		<li><img src="../../assets/img/stunt5.png" alt=""></li>
	</ul>

	<section class="animation-element bounce-up">
		<h3>Stunt Flights</h3>

		<p>Adrenaline pumping, mind blowing, radical action – push yourself.</p>

		<ul>
			<li><strong>Queenstown and Wanaka extreme</strong></li>
			<li><strong>Queenstown and Wanaka extreme aerobatics</strong></li>
		</ul>

		<p><em>Times by arrangement – how long can you handle it?</em></p>
		<p><em>Fixed wing $350 per hour per passenger</em></p>

		<a class="link" href="#/contact">Book Now</a>
		<a class="link" href="#/flights">Back to Flights</a>
	</section>

</div>