<nav>
	<label class="toggle" for="drop"><span>Menu</span></label>
	<input type="checkbox" id="drop" ng-model="checked" aria-label="drop ng-hide">
	<ul class="menu animate-show" ng-show="checked">
		<li><a class ="link" href="#/hangar">Hangar</a></li>
		<li><a class ="link" href="#/crew">Crew</a></li>
		<li><a class ="link" href="#/flights">Flights</a></li>
		<li><a class ="link" href="#/aircraft">Aircraft</a></li>
		<li><a class ="link" href="#/safety">Safety</a></li>
		<li><a class ="link" href="#/contact">Contact</a></li>
	</ul>
</nav>