@import 'variables.styl'

*
	box-sizing border-box
	text-decoration none
body 
	font-family body-font
	margin 0
	background fttl-texture	
p, li
	line-height 1.5
:focus
	outline none
.bounce-up
	opacity 0
	transition all 250ms ease-out
	transform translate3d(0px, 200px, 0px)
	transform translate(0px, 200px)
	backface-visibility hidden
.bounce-up.in-view
	opacity 1
	transform translate3d(0px, 0px, 0px)

// Header
header
	display flex
	flex-direction column
	background darken(fttl-blue, 10%)
	@media (min-width: 800px)
		background none
	
	div
		display flex
		padding 10px
		@media (min-width 450px)
			margin 0 auto
		@media (min-width 600px)
			margin 0 auto
		a
			display flex
			flex-direction column
			font-family logo-font
			color fttl-red
			font-weight 700
			margin 0.5em 1em
			@media (min-width 800px)
				margin-right 0
			.fly
				font-size 6.8em
				margin 0
				line-height 1
				@media (min-width 800px)
					font-size 8.2em
			.tothe
				font-size 3.1em
				margin 0
				line-height 1
				@media (min-width 800px)
					font-size 3.6em
			.limit
				font-size 4em
				margin 0 
				line-height 1
				@media (min-width 800px)
					font-size 4.8em
		div
			display flex
			flex-direction column
			padding 0
			@media (min-width 600px)
				flex-direction row
			img
				margin 0.5em 0 0.5em 1em
				max-width 100px
				max-height 100px
				@media (min-width 600px)
					max-width 190px
					max-height 190px
					margin-top 1em
				@media (min-width 800px)
					max-width 240px
					max-height 240px
					margin-left 60px
	.byline
		margin 0 0 1em 1.1em
		font-size 1.4em
		font-family logo-font
		color fttl-white
		@media (min-width 450px)
			margin 0 auto 1em auto
		@media (min-width 600px)
			margin 0 auto 0.5em auto
			font-size 2.8em
		@media (min-width 800px)
			font-size 3.8em
//Nav
nav
	margin 0
	@media (min-width 800px)
		.ng-hide:not(.ng-hide-animate)
			display flex !important
			
	#drop
		display none
	.toggle
		display block
		max-width 100%
		height 45px
		background fttl-red
		color fttl-white
		border-bottom 1px solid darken(fttl-red, 20%)
		@media (min-width: 800px)
			display none
		span
			display block
			width 270px
			padding 0.6em 0 0 1.1em
			font-weight 700
			font-size 1.4em
			@media (min-width 450px)
				margin 0 auto
				padding 0.6em 0 0 0
			@media (min-width 600px)
				width 545px
	.menu
		list-style none
		padding 0
		margin 0
		@media (min-width 800px)
			display flex
			justify-content space-between
			max-width 780px
			margin 0 auto 0.5em auto
		li
			display block
			max-width 100%
			background fttl-red
			height 45px
			border-bottom 1px solid darken(fttl-red, 20%)
			@media (min-width: 800px)
				width 110px
				&:hover
					z-index 9999
					transform scale(1.005)
			.link, label
				display block
				max-width 100%
				color fttl-white
				font-weight 700
				font-size 1.2em
				height 45px
				span
					display block
					width 270px
					padding 0.6em 0 0 1.1em
					font-weight 700
					font-size 1em
					@media (min-width: 450px)
						margin 0 auto
						padding 0.6em 0 0 0
					@media (min-width 600px)
						width 545px
					@media (min-width: 800px)
						width 100%
						text-align center
						vertical-align middle
			.active
				background darken(fttl-red, 20%)
				cursor default
			input
				display none
.bottom-border
	height 16px
	max-width 100%
	background-color darken(fttl-red, 20%) 		
	@media (min-width: 800px)
		display none			
				
// Views
.main-title
	width 305px
	margin 0.5em 0 1em 0.5em
	font-family heading-font
	color fttl-red
	font-size 2.1em
	-ms-transform rotate(-4deg) 
	-webkit-transform rotate(-4deg) 
	transform rotate(-4deg)
	@media (min-width 450px)
		margin 1em auto
	@media (min-width 600px)
		font-size 3.5em
		width 540px
	@media (min-width 800px)
		font-size 4.5em
		width 780px
		margin 0.8em auto
.page-content	
	margin 0 auto
	color fttl-red
	//Hangar
	.mob-link
		@media (min-width 600px)
			display none
	section
		max-width 100%
		padding 10px 20px
		background fttl-white
		margin 0em auto 0.5em auto
		box-shadow fttl-card
		@media (min-width 600px)
			max-width 550px
			padding 10px 50px
		@media (min-width 600px)
			max-width 780px
		h4
			margin 1em auto
			width 270px
			font-size 1.17em
		p
			color fttl-black
			font-weight 500
			font-size 0.85em	
		ul
			li
				font-size 0.75em
				margin-bottom 0.5em
		
		.link
			padding-top 0.6em
			text-align center
			display block
			position relative
			max-width 270px
			margin 0 auto 0.5em auto
			height 45px
			background fttl-red
			color fttl-white
			font-weight 700
		//Safety
		.safety-link
			img
				margin-bottom 1em	
		//Contact
		.angular-google-map-container
			height 250px
			width 100%
			margin-bottom 10px
		.contact-link
			font-weight 700
			font-size 0.9em
			color fttl-red
			display flex
			flex-direction column
			align-items center
			p
				color fttl-red
				margin 0 0 10px 0
			.circle
				width 80px
				height 80px
				border 4px fttl-red solid
				border-radius 40px
				padding 20px
				margin 0 auto 1em auto 
				.fa-phone
					font-size 2.5em
				.fa-envelope
					font-size 2em
				.fa-map-marker
					font-size 2.5em
					margin-left 5px
				.fa-book
					font-size 2.5em
		.map-links
			display flex
			flex-direction column
			width 270px
			margin 0 0 0 0
			.button
				padding-top 0.6em
				text-align center
				display block
				width 270px
				margin 0 auto 0.5em auto
				height 45px
				background fttl-red
				color fttl-white
				font-weight 700
				cursor pointer
				
				
		form
			margin 0 auto
			width 270px
			.form-row
				margin-bottom 10px
				label
					display inline-block
					text-align center
					vertical-align middle
					width 45px
					height 45px
					background-color fttl-red
					color fttl-white
					padding-top 13px
				input, select
					border solid 1px fttl-red
					width 225px
					height 45px
					margin-left -5px
					padding-left 10px
				textarea
					width 270px
			.button
				padding-top 0.6em
				text-align center
				display block
				max-width 270px
				margin 0 auto 0.5em auto
				height 45px
				background fttl-red
				color fttl-white
				font-weight 700
				&:hover
					z-index 9999
					transform scale(1.005)
	//Flights
	.masonry
		@media (min-width 800px)
			margin 0 auto
			max-width 780px
			column-count 2
			column-gap 0
			line-height 0
		.item
			padding 0
			margin 0
			position relative
			display block
			transition-duration: 0.3s
			font-smoothing grayscale
			transition-property transform
			backface-visibility hidden
			box-shadow 0 0 1px rgba(0, 0, 0, 0)
			transform translateZ(0)
			&:hover
				z-index 9999
				transform scale(1.005)
			@media (min-width 600px)
				width 100%	
				margin 0 auto
			@media (min-width 800px)
				display inline-block
				width 100%
			h3
				color fttl-white
				font-family logo-font
				font-size 2.5em
				position absolute
				padding 30px 0 0 50px
			img
				max-width 100%
		.tease
			@media (max-width 600px)
				display none	
	//Crew
	.gallery
		padding 0
		h3
			background darken(fttl-red, 20%)
			font-family logo-font
			color fttl-white
			margin 0
			padding 20px 0 20px 20px
			@media (min-width 600px)
				font-size 2em
				padding-left 50px	
		img
			max-width 100%
		p
			margin 0
			padding 10px 20px
			@media (min-width 600px)
				padding-left 50px
	//Info pages
	.carousel
		height 12em
		width 100%
		margin 0
		@media (min-width 800px)
			max-width 780px
			margin 0 auto
		li
			img
				max-width 100%
// Footer
footer
	color fttl-white
	background darken(fttl-red, 10%)
	font-weight 700
	font-size 0.65em
	max-width 100%
	@media (min-width 600px)
		height 160px
	.social-media
		display flex
		justify-content space-around
		max-width 100%
		margin 0
		height 61px
		padding-top 0.2em
		color fttl-white
		background fttl-red
		font-size 3em
		border-top 16px solid darken(fttl-red, 20%)
	p
		margin 0
		padding 1.5em 1em 1em 1em
		height 45px
		@media (min-width 600px)
			font-size 1.5em
			max-width 780px
			margin 0 auto
.btt
	width 45px
	height 45px
	padding-top 13px
	background rgba(153, 26, 62, 0.3)
	color fttl-white
	z-index 999999
	position fixed
	right 0px
	bottom 0px
	text-align center
		
			
